venv/
.venv/
env/
ENV/
env.bak/
venv.bak/
bin/
lib/
include/
Lib/
Scripts/
pyvenv.cfg

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*.nbconvert/
.ipython/

.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

*.log
*.log.*
pip-log.txt
pip-delete-this-directory.txt

# *.mp4
# *.avi
# emotion_dection/data/*.p
# *.h5
