<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Quick Query - AI-powered chatbot for instant assistance.">
    <meta name="author" content="Sudeepto Bhakat">
    <link rel="icon" href="{% static 'logo/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Quick Query</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="chatbot-wrapper fullpage">
        <div class="header">
            <img src="{% static 'logo/logo.png' %}" alt="logo" class="logo">
            <label class="switch">
                <input type="checkbox" id="themeSwitch">
                <span class="slider"></span>
            </label>
        </div>
        <div class="chat-window" id="chatWindow">
            <!-- Chat messages will go here -->
        </div>
        <!-- Chat input form for text and image submission -->
        <form id="imageForm" class="chat-input">
            {% csrf_token %}
            <div class="icon-upload-wrapper">
                <i class="fa-solid fa-paperclip" id="iconUpload"></i>
                <input type="file" id="imageUpload" accept="image/*" class="hidden-file-input" />
            </div>
            <input type="text" id="textInput" placeholder="Type a message..." class="form-control" />
            <button type="submit" class="btn btn-success" style="border-radius: 100%;">
                <i class="fa-solid fa-paper-plane"></i>
            </button>
        </form>

    </div>

    <script src="{% static 'js/main.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>